*{
  background:#6255AA
}
.c{
  background-color:#5DCBA3
}
.vr{
  position:absolute;
  height:150px;
  width:50px;
  top:75px;
  right:75px
}
.hr{
  position:absolute;
  height:50px;
  width:350px;
  left:25px;
  top:125px
}
.s{
  position:absolute;
  height:50px;
  width:50px
}
.u{
  top:25px;
  right:25px
}
.l{
  bottom:25px;
  right:25px
}
